<app-search (searchResultsEvent)="handleSearchResults($event)"></app-search>
<app-paginate [data]="pastries" [perPage]="perPage" (pageChange)="handlePageChange($event)">
</app-paginate>
<div class="row content">
  <div appBorderCard="color"> test </div>
  <div class="col-sm-4 video">
    <app-pastrie-details [pastrie]="selectedPastrie" (changePreference)="changeParentPreference($event)">
    </app-pastrie-details>
  </div>
  <div class="col-sm-7">
    <div *ngFor="let pastrie of paginatedPastries" class="card">
  
      <div class="card-header">
        Pâtisserie glacée
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ pastrie.name }}</h5>
        <p class="card-text">{{ pastrie.description }}</p>
        <span class="m-4 p-1 rounded {{tag | pastrieTagColor}}" *ngFor="let tag of pastrie.tags">
          {{ tag }}
        </span>
        <br>
        <a class="btn btn-outline-dark m-4" href="#" role="button">us</a>
        <small>♥ 3</small>
        <small> ► 4 unités disponibles</small>
        <br>
        <button class="bg-info text-light m-4 p-1 rounded" (click)="onSelect(pastrie)">en savoir plus</button>
      </div>
    </div>
  </div>