.yummy-color{
    background-color: rosybrown;
    color: white;
}
.dessert-color{
    background-color: peachpuff;
    color: rgb(206, 75, 28);
}
.sucré-color{
    background-color: purple;
    color: lightpink;
}

.chocolat-color{
    background-color: brown;
    color: burlywood;
}
.default-color{
    background-color: lightcoral;
    color: brown;
}